.App{
    background: url("https://w0.peakpx.com/wallpaper/611/898/HD-wallpaper-orange-landscape-morning-minimal.jpg");
   
  background-size: cover;
  background-position: center;
    background-size: cover;
    background-position: center;
}
.btn{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}